body {
  font-family: "Robot", "Raleway", sans-serif;
  color: #2b2f42;
  background-color: #fff;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.31; /* font-size / line-height = */
  letter-spacing: 0.32px;
  font-style: normal;
  margin: 0;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: #2e2f42;
}

h1 {
  color: #fff;
  font-weight: 700;
  letter-spacing: 1.12px;
  font-size: 56px;
  line-height: 1.07;
}
h2 {
  color: #2e2f42;
  font-size: 36px;
  font-weight: 700;
  line-height: 1.11;
  letter-spacing: 0.72px;
  text-transform: capitalize;
}
h3 {
  color: #2e2f42;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.4px;
}

button {
  display: inline-flex;
  padding: 16px 32px;
  align-items: flex-start;
  gap: 10px;
  border-radius: 4px;
  background-color: #4d5ae5;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
  cursor: pointer;
}
button:hover {
  background-color: #404bbf;
}
.main-button {
  font-weight: 500;
  color: #fff;
  letter-spacing: 0.64px;
}

.header-nav {
  font-weight: 500;
  line-height: 1.5;
}

.head-address {
  color: #434455;
  line-height: 1.5;
}

.main-title {
  background-color: #2b2f42;
  text-align: center;
}

.main-p {
  color: #434455;
  line-height: 1.5;
}

.main-list-team {
  background-color: #f4f4fd;
  text-align: center;
}

.main-list-portfolio {
  text-align: center;
}

.header-logo,
.footer-logo {
  color: #2e2f42;
  font-family: Raleway;
  font-size: 18px;
  font-weight: 700;
  line-height: 1.16; /* font-size / line-height = */
  letter-spacing: 0.54px;
  text-transform: uppercase;
}
.footer-logo {
  color: #f4f4fd;
}
.blue-logo {
  color: #4d5ae5;
}

.footer {
  background-color: #2b2f42;
}

.footer-p {
  color: #f4f4fd;
  line-height: 1.5;
}
